.hero {
  background: linear-gradient(
      61deg,
      rgba(0, 0, 0, 0.5) 100%,
      rgba(255, 255, 255, 0.5) 0%
    ),
    url("../assets/img/profile-image.jpg") center/cover no-repeat;
  color: white;
}

section {
  padding: 40px;
}

.material-symbols-outlined {
  font-size: 36px;
  color: blueviolet;
}

.purecounter {
  color: #000;
  font-size: 48px;
  line-height: 40px;
  display: block;
  font-weight: 700;
}

.stat-description {
  margin-left: 20px;
}

.stats .stats-item {
  padding: 30px;
  width: 100%;
  justify-content: center;
}

.animated-divider {
  position: relative;
  width: 80px;
  height: 2px;
  overflow: hidden;
  margin-bottom: 15px;
}

.animated-divider .light {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 255, 255, 0),
    cyan,
    rgba(0, 255, 255, 0)
  );
  box-shadow: 0 0 8px cyan; /* Glow effect */
  /* filter: blur(1px); */
  animation: moveLight 1.5s linear infinite;
}

@keyframes moveLight {
  0% {
    left: -90%;
  }
  100% {
    left: 90%;
  }
}

.skill {
  margin-bottom: 20px;
}

.skill h3 {
  font-size: 14px;
  letter-spacing: 1px;
  margin: 0;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: rgba(217, 217, 217, 0.5);
  border-radius: 5px;
  overflow: hidden;
}

.skill-bar {
  width: 0; /* Start at 0 */
  height: 100%;
  background: linear-gradient(to right, #ff8c00, #ff4500);
  border-radius: 5px;
}

.info-wrap,
.form {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 40px;
}

.contact .icon {
  padding: 10px;
  border-radius: 50%;
  background: color-mix(in srgb, blueviolet, transparent 92%);
  transition: all 0.3s ease-in-out;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact .icon .material-symbols-outlined {
  font-size: 25px;
}

.info-item {
  margin-bottom: 30px;
}

.info-item:hover {
  .icon {
    background: color-mix(in srgb, blueviolet, transparent 30%);
  }
  .material-symbols-outlined {
    color: #fff;
  }
}

.email-link {
  text-decoration: none;
  color: #000;
}

.form-field {
  border-radius: 5px;
  border: 1px solid #cecece;
  width: 100%;
  padding: 5px;
  margin-top: 3px;
}
