.hero {
  background: linear-gradient(
      61deg,
      rgba(0, 0, 0, 0.5) 100%,
      rgba(255, 255, 255, 0.5) 0%
    ),
    url("../assets/img/profile-image.jpg") center/cover no-repeat;
  color: white;
}

.material-symbols-outlined {
  font-size: 36px;
  color: blueviolet;
}

.purecounter {
  color: #000;
  font-size: 48px;
  line-height: 40px;
  display: block;
  font-weight: 700;
}

.stat-description {
  margin-left: 20px;
}

.stats .stats-item {
  padding: 30px;
  width: 100%;
  justify-content: center;
}
